@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.Container {
    width: 100%;
    min-height: 100vh;
    background-image: url('/src/assets/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding: 20px;
    text-align: left; 
}

.content {
    padding: 200px 150px; 
    max-width: 1000px; 
}

.content h1 {
    font-size: 3.5rem;
    color: #08547a;
    margin-bottom: 20px;
}

.content button {
    background-color: #007b98;
    color: #fff;
    border: none;
    padding: 25px 55px; 
    margin-top: 15px;
    border-radius: 6.4px;
    letter-spacing: 0.32px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.content button:hover {
    background-color: #005f73;
}

.subContent {
    background-color: #08547a;
    padding: 30px 20px;
    color: #fff;
    width: 100%; 
    border-radius: 8px;
   
    text-align: center;
}

.subContent h2 {
    width: 100%;
    max-width: 900px;
    margin: 0 auto 20px;
    font-size: 30px;
}


@media screen and (max-width: 1024px) {
    .Container {
        padding: 10px;
    }

    .content {
        padding: 50px 20px; 
    }

    .content h1 {
        font-size: 2.5rem; 
    }

    .content button {
        padding: 12px 20px; 
        margin-top: 20px; 
    }

    .subContent {
        padding: 20px 10px;
    }

    .subContent h2 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .content {
        padding: 40px 15px; 
    }

    .content h1 {
        font-size: 1.75rem;
    }

    .content button {
        padding: 12px 15px; 
        margin-top: 20px; 
        width: 100%; 
    }

    .subContent {
        padding: 18px 12px;
    }

    .subContent h2 {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 480px) {
    .content {
        padding: 20px 10px; 
    }

    .content h1 {
        font-size: 1.5rem;
    }

    .content button {
        padding: 12px 10px;
        margin-top: 20px;
        width: 100%; 
    }

    .subContent {
        padding: 15px 10px;
    }

    .subContent h2 {
        font-size: 1rem;
    }
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: center; 
    color: #007b98;
    padding: 40px 0px;
   
  }
  
  .info-column {
    padding: 20px; 
    font-size: 16px;
  }
  .Counter {
    font-size: 40px;
  }
  
  /* Responsive styles */
  @media (max-width: 1200px) {
    .grid-container {
      grid-template-columns: repeat(3, 1fr); 
    }
  }
  
  @media (max-width: 900px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media (max-width: 600px) {
    .grid-container {
      grid-template-columns: 1fr; 
    }
  }
  .Meeting-container {
    display: grid; 
    grid-template-columns: 30% 70%; 
    align-items: center; 
    padding: 50px 20px; 
    background-color: #08547a;
    position: relative; 
    width: 100%;
  }
  
  .meeting {
    grid-column: 2; 
    position: relative; 
    display: flex; 
    justify-content: center; 
  }
  
  .meeting img {
    width: 100%;
    height: auto;
    border-radius: 50px; 
  }
  
  .meeting-content {
    background-color: rgba(0, 0, 0, 0.5);
    color: white; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
    border-radius: 10px; 
    padding: 70px; 
    position: absolute; 
    top: 30%; 
    left: 5%;
    transform: translateY(-50%); 
    z-index: 4; 
    text-align: center; 
    width: 80%; 
    max-width: 600px;
  }
  
  @media (max-width: 1024px) {
    .Meeting-container {
      grid-template-columns: 1fr;
      padding: 20px; 
    }
  
    .meeting-content {
      position: relative;
      margin-bottom: 140px; 
      width: 100%;
      left: 0; 
      transform: none;
    }
  
    .meeting {
      grid-column: 1;
    }
  
    .meeting img {
      max-width: 100%; 
    }
  }
  
  @media (max-width: 768px) {
    .meeting-content {
      padding: 30px 10px; 
    }
  }
  
  @media (max-width: 480px) {
    .meeting-content {
      padding: 20px 10px; 
    }
  }
  


  .section-container {
    padding: 20px;
    text-align: start;
  }
  
  .section-title {
    font-size: 40px;
    margin: 40px;
    color: #007b98; 
  }
  
  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .card {
    background-color: rgba(255, 255, 255, 0.5); 
    color: black; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    overflow: hidden; 
    position: relative;
    transition: background-color 0.5s ease;
  }
  
  .image-container {
    overflow: hidden;
    border-radius: 10px;
  }
  
  .card-image {
    width: 100%;
    height: 350px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: transform 0.5s ease;
  }
  
  .card h3 {
    margin: 10px 0;
    font-size: 30px;
    color: #007b98;
  }
  
  .card-paragraph {
    opacity: 0;
    max-height: 0; 
    overflow: hidden; 
    transition: max-height 0.5s ease, opacity 0.5s ease;
  }
  
  .card:hover {
    background-color: rgba(255, 255, 255, 0.7); 
  }
  
  .card:hover .card-image {
    transform: scale(1.1); 
  }
  
  .card:hover .card-paragraph {
    opacity: 1;
    max-height: 200px; 
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .cards-container {
      grid-template-columns: 1fr; 
    }
  
    .card {
      padding: 15px;
    }
  
    .card h3 {
      font-size: 1.2em;
    }
  
    .card-paragraph {
      font-size: 0.9em;
      max-height: 150px; 
    }
  }
  
  @media (max-width: 480px) {
    .section-title {
      font-size: 1.5em;
    }
  
    .card {
      padding: 10px;
    }
  
    .card h3 {
      font-size: 1em;
    }
  
    .card-paragraph {
      font-size: 0.8em;
      max-height: 100px;
    }
  }
  










































































































































































































































 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 

 
 
 
 
 
 
 
 

































































 
 
 
 
 