.Operation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
    font-family: Arial, sans-serif;
    color: #333;
  }
    
    .Operation-header {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      background-color: #008CBA;
      color: #fff;
      padding: 20px 0;
      margin-bottom: 30px;
      
    }
  
    .Operation-title {
      font-size: 2.5em;
      margin-bottom: 20px;
      color: white;
      margin-right: 10px;
    }
    
    .apply-now-button {
      background-color: rgb(230, 230, 102);
      border: none;
      color: black;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 5px;
      margin-bottom: 20px;
    }
    
    .Operation-content {
      display: flex;
      justify-content: space-between;
      width: 80%;
    }
    
    .section {
      width: 48%;
      padding: 20px;
      
    }
    
    .section h2 {
      margin-bottom: 10px;
      color: #333;
    }
    
    .section h3 {
      margin-bottom: 5px;
      color: black;
      font-weight: bold;
      margin-left: 30px;
      margin-bottom: 5px;
    }

    .section p{
        color: #08547a;
    }
    
    .section ul {
      list-style: disc;
      margin-left: 20px;
    }
    
    .section li {
      margin-bottom: 5px;
      font-size: small;
    }
    
    
    .view-full-description {
      display: block;
      text-align: center;
      margin-top: 1px;
      margin-bottom: 40px;
      color: black;
      text-decoration: none;
      font-size: small;
      margin-top: 20px;
    }
    
    .view-full-description:hover {
      text-decoration: underline;
    }